.profile-container {

}

.info-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 7% 50px;
}

.profile-left {
    width: 70%;
    max-width: 700px;
}

.profile-left img {
    align-self: center;
    /*width: 20vw;*/
    width: 230px;
    margin-top: 30px;
    /*max-width: ;*/
    border: 0.5px solid rgba(224, 224, 224, 1);

}

.profile-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 70px;
    padding-left: 7%;
    border-left: 0.5px solid grey;
}

.profile-right h1 {
    font-size: 28px;
    font-weight: 700;
}

.profile-right h2 {
    font-size: 18px;
    font-weight: 700;
}

.profile-right strong {
    font-size: 12px;
    font-weight: 700;
}

.profile-right p {
    font-size: 12px;
    font-weight: 400;
}

.profile-right .contacts {
    display: flex;
    gap: 40px;
    height: 50px;
}

.contacts .contact-text {
    align-self: center;
}

.profile-right img {
    width: 40px;
    height: 40px;
    align-self: center;
}
